---
import DynamicText from "../components/main-page/DynamicText.astro";
import Map from "../components/main-page/Map.astro";
import Name from "../components/main-page/Name.astro";
import Table from "../components/main-page/Table.astro";
import TableRow from "../components/main-page/TableRow.astro";
import Layout from "../layouts/Layout.astro";
import { getMapUrl, getToday } from "../utils/devon";

const today = await getToday();
const mapUrl = await getMapUrl(today.wttr);

const [hr, min] = today.sleep.answer.split(":");

const hiddenMail = "i@vitalya.me"
  .replaceAll("@", " (at) ")
  .replaceAll(".", " (dot) ");
---

<Layout>
  <Map mapUrl={mapUrl} wttr={today.wttr} />
  <div class="container w-full flex-grow py-8 mx-auto flex max-w-3xl flex-col gap-2 px-8 relative top-[-55px]">
    <header class="flex flex-col gap-3">
      <h1 class="text-4xl font-semibold">Hello!</h1>
      <h2>my name is <Name /> and I am currently in <DynamicText>{today.wttr.areaName}, {today.wttr.areaCountry}</DynamicText></h2>
      <h2>I am a software engineer and a backend developer</h2>
    </header>
    <p>some info about me:</p>
    <Table>
      <TableRow title="birthday">feb 25</TableRow>
      <TableRow title="last sleep"><DynamicText time={today.sleep.date}>{hr} hr {min} min</DynamicText></TableRow>
      <TableRow title="latest wordle"><DynamicText time={today.wordle.date} title={today.wordle.shareText}>{today.wordle.shareText.split('\n')[0]}</DynamicText></TableRow>
      <TableRow title="last watched"><DynamicText href={today.letterboxd.letterboxdUri} time={today.letterboxd.watchedDate}>{today.letterboxd.movieName}</DynamicText></TableRow>
    </Table>
    <p>contact or visit me:</p>
    <Table>
      <TableRow title="telegram"><a href="https://t.me/vitalyavolyn" rel="me">@vitalyavolyn</a></TableRow>
      <TableRow title="github"><a href="https://github.com/vitalyavolyn" rel="me">@vitalyavolyn</a></TableRow>
      <TableRow title="twitter"><a href="https://twitter.com/vitalyavolyn" rel="me">@vitalyavolyn</a></TableRow>
      <TableRow title="email">{hiddenMail}</TableRow>
    </Table>
  </div>
</Layout>

<style>
.container {
  background-color: var(--bg);
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  transition: transform 0.1s;
}

@media (min-width: 600px) {
  .container:hover {
    transform: rotate(0.8deg);
  }
}

.table {
  display: grid;
  grid-template-columns: 1fr 4fr ;
}
</style>
